	../../../.CFUserTextEncoding
	../../../.Trash/
	../../../.atom/
	../../../.bash_history
	../../../.bash_sessions/
	../../../.cocoapods/
	../../../.cups/
	../../../.gitconfig
	../../../.gitignore
	../../../.network_backups/
	../../../.oracle_jre_usage/
	../../../.ssh/
	../../../.subversion/
	../../../.viminfo
	../../../Applications (Parallels)/
	../../../Applications/
	../../../CS 1054/
	../../../CmapToolsLogs/
	../../
	../../../Documents/
	../../../Downloads/
	../../../Google Drive/
	../../../HelloWorld/
	../../../Library/
	../../../Movies/
	../../../Music/
	../../../Pictures/
	../../../Public/
	../../../cartera_ios/
	../../../jagex_cl_runescape_LIVE.dat
	../../../jagexappletviewer.preferences
	../../../jagexcache/
	../../../lab1/
	../../../random.dat
